{% include 'MainMenuView.twig' %}
    
    <section class="content">
        <div class="container">
            <div class="title-heading">
                <h1>Cars</h1>
            </div>
        </div>
        <div class="cta center">
            <a class="btn btn-blue" href="/u05-car-rental/addCar">Add a car</a>
        </div>
        <table class="table-small">
            <tr>
                <th>Register number</th>
                <th>Make</th>
                <th>Color</th>
                <th>Year</th>
                <th>Price</th>
                <th>Rented by</th>
                <th>Checked out time</th>
                <th></th>
                <th></th>
            </tr>
          {% for car in carArray %}
            <tr>
                <td>{{car.register_number}}</td>
                <td>{{car.make}}</td>
                <td>{{car.color}}</td>
                <td>{{car.year}}</td>
                <td>{{car.price}}</td>
                {% if car.last_checked_out != NULL and car.checked_in == NULL %}
                <td>{{car.person_number}}</td>
                <td>{{car.last_checked_out}}</td>
                {% else %}
                <td colspan="2">Free</td>
                {% endif %}
                {% if car.last_checked_out != NULL and car.checked_in == NULL %}
                <td colspan="2">
                    <a class="table-btn"><i class="icon ion-md-alert" title="Car currently rented. Cannot be edited or removed."></i></a>
                </td>
                {% else %}
                <td>
                    <a class="table-btn" href="/u05-car-rental/editCar{{car.register_number}}"><i class="icon ion-md-create"></i></a>
                </td>
                <td>
                    <a class="table-btn" href="/u05-car-rental/carRemoved{{car.register_number}}"><i class="icon ion-md-trash"></i></a>
                </td>
                {% endif %}
            </tr>
          {% endfor %}
        </table>
    </section>
    <script>
        // Add current class to nav-link
        for (let elem of document.querySelectorAll(".nav-link")) {
            if (elem.textContent === "Cars") {
                elem.classList.add("current");
            }
        }
    </script>
{% include 'footerView.twig' %}