{% include 'MainMenuView.twig' %}

    <section class="content">
        <div class="container">
            <div class="title-heading">
                <h1>Check out car</h1>
            </div>
            <form class="form-md" method="POST" action="/u05-car-rental/carCheckedOut">
                <div class="form-group">
                    <span>Customer</span>
                    <select class="form-field" name="customer">
                        <option disabled selected>Select customer</option>
                        {% for customer in customerArray %}
                            <option value="{{ customer.person_number }}">{{ customer.name }} / {{ customer.person_number }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <span>Car</span>
                    <select class="form-field" name="car">
                        <option disabled selected>Select car</option>
                        {% for car in carArray %}
                            {% if car.last_checked_out != NULL and car.checked_in == NULL %}
                            <option value="{{ car.register_number }}" disabled>{{ car.make }} /  {{ car.color }} / {{ car.register_number }} (unavailable)</option>
                            {% else %}
                            <option value="{{ car.register_number }}">{{ car.make }} /  {{ car.color }} / {{ car.register_number }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="cta center">
                    <button class="btn btn-blue" type="submit" name="submit">Check out now</button>
                </div>
            </form>
        </div>
    </section>
    <script>
        // Add current class to nav-link
        for (let elem of document.querySelectorAll(".nav-link")) {
            if (elem.textContent === "Check out") {
                elem.classList.add("current");
            }
        }
    </script>
{% include 'footerView.twig' %}
