<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car rental - Check out car</title>
</head>

<body>
    <header>
        <form method="post" action="/customers">
            <input type="submit" value="Customers">
        </form>
        <form method="post" action="/cars">
            <input type="submit" value="Cars">
        </form>
                <form method="post" action="/checkIn">
            <input type="submit" value="Check in">
        </form>
        <form method="post" action="/checkOut">
            <input type="submit" value="Check out">
        </form>
                <form method="post" action="/history">
            <input type="submit" value="History">
        </form>
        <form method="post" action="/">
            <input type="submit" value="Home">
        </form>
    </header>
        <main>
        <h1>Check out car</h1>
        <form method="POST" action="/carCheckedOut{{ car.register_number }}{{ customer.person_number }}">
            <select name="customers">
                {% for customer in customerArray %}
                <option value="{{ customer.person_number }}">{{ customer.name }} /  {{ customer.person_number }} </option>
                {% endfor %}
            </select>
            <select name="cars">
                {% for car in carArray %}
                <option value="{{ car.register_number }}">{{ car.make }} /  {{ car.color }} / {{ car.register_number }} </option>
                {% endfor %}
            </select>
            <button type="submit" name="submit">Check out</button>
        </form>
