{% include 'MainMenuView.twig' %}

    <section class="content">
        <div class="container">
            <div class="title-heading">
                <h1>Check in car</h1>
            </div>
            <form class="form-md" method="POST" action="/u05-car-rental/carCheckedIn">
                <div class="form-group">
                    <span>Customer | Car</span>
                    <select class="form-field" name="customers">
                        <option disabled selected>Select car</option>
                        {% for customer in customerArray %}
                        <option name="selectedCar" value="{{customer.register_number}}">Customer ID: {{ customer.person_number }} // Car: {{ customer.make }} /  {{ customer.color }} / {{ customer.register_number }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="cta center">
                    <button class="btn btn-blue" type="submit" name="submit">Check in now</button>
                </div>
            </form>
        </div>
    </section>
    <script>
        // Add current class to nav-link
        for (let elem of document.querySelectorAll(".nav-link")) {
            if (elem.textContent === "Check in") {
                elem.classList.add("current");
            }
        }
    </script>
{% include 'footerView.twig' %}