{% include 'MainMenuView.twig' %}

    <main>
        <h1>Check out car</h1>
        <form class="edit" method="POST" action="/u05-car-rental/carCheckedOut">
            <select name="customer">
                <option disabled selected>Select customer</option>
                {% for customer in customerArray %}
                    <option value="{{ customer.person_number }}">{{ customer.name }} / {{ customer.person_number }} </option>
                {% endfor %}
            </select>
            <select name="car">
                <option disabled selected>Select car</option>
                {% for car in carArray %}
                    {% if car.last_checked_out != NULL and car.checked_in == NULL %}
                    <option value="{{ car.register_number }}" disabled>{{ car.make }} /  {{ car.color }} / {{ car.register_number }} </option>
                    {% else %}
                    <option value="{{ car.register_number }}">{{ car.make }} /  {{ car.color }} / {{ car.register_number }} </option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit" name="submit">Check out</button>
        </form>
    </main>
