{% include 'MainMenuView.twig' %}
    
    <section class="content">
        <div class="container">
            <div class="title-heading">
                <h1>Customers</h1>
            </div>
        </div>
        <div class="cta center">
            <a class="btn btn-blue" href="/addCustomer">Add Customer</a>
        </div>
        <table>
            <tr>
                <th>Person number</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Postal Code</th>
                <th>Phone</th>
                <th></th>
                <th></th>
            </tr>
          {% for customer in customerArray %}
            <tr>
                <td>{{customer.person_number}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.adress}}</td>
                <td>{{customer.postal_code}}</td>
                <td>{{customer.phone}}</td>
                {% if customer.last_checked_out == NULL or customer.checked_in != NULL %}
                <td>
                    <a class="table-btn" href="/editCustomer{{customer.person_number}}"><i class="icon ion-md-create"></i></a>
                </td>
                <td>
                    <a class="table-btn" href="/customerRemoved{{customer.person_number}}"><i class="icon ion-md-trash"></i></a>
                </td>
                {% else %}
                <td colspan="2">
                    <a class="table-btn"><i class="icon ion-md-alert" title="Active customer. Cannot be edited or removed."></i></a>
                </td>
                {% endif %}
            </tr>
          {% endfor %}
        </table>
    </section>
    <script>
        // Add current class to nav-link
        for (let elem of document.querySelectorAll(".nav-link")) {
            if (elem.textContent === "Customers") {
                elem.classList.add("current");
            }
        }
    </script>
{% include 'footerView.twig' %}