{% include 'MainMenuView.twig' %}
    
    <section class="content">
        <div class="container">
            <div class="title-heading">
                <h1>Edit customer</h1>
            </div>
            <form class="form-md" method="POST" action="/u05-car-rental/customerEdited{{selectedCustomer.person_number}}" name="form" onsubmit="return validateForm();">
                <div class="form-group">
                    <span class="label-disabled">Personal Number</span>
                    <input class="form-field" type="text" name="personnumber" value="{{selectedCustomer.person_number}}" disabled>
                </div>
                <div class="form-group">
                    <span>Name</span>
                    <input class="form-field" type="text" name="name" value="{{selectedCustomer.name}}">
                </div>
                <div class="form-group">
                    <span>Address</span>
                    <input class="form-field" type="text" name="address" value="{{selectedCustomer.adress}}">
                </div>
                <div class="form-group">
                    <span>Postal Code</span>
                    <input class="form-field" type="text" name="postalcode" value="{{selectedCustomer.postal_code}}">
                </div>
                <div class="form-group">
                    <span>Phone</span>
                    <input class="form-field" type="text" name="phone" value="{{selectedCustomer.phone}}">
                </div>
                <div class="cta center">
                    <button class="btn btn-blue" type="submit" name="submit">Save changes</button>
                </div>
            </form>
            <div class="cta center">
                <a class="btn btn-alert" href="/u05-car-rental/customers">Discard changes</a>
            </div>  
        </div>

    </section>
      
<script> 
        function validateForm() {
            let name = document.forms["form"]["name"].value;
            if (name == "") {
                alert("You cannot leave your name field empty");
                return false;
            }
            let address = document.forms["form"]["address"].value;
            if (address == "") {
                alert("You cannot leave your address field empty");
                return false;
            }
            let postalcode = document.forms["form"]["postalcode"].value;
            if (postalcode == "") {
                alert("You cannot leave your postal code field empty");
                return false;
            }
            let phone = document.forms["form"]["phone"].value;
            if (isNaN(phone)) {
                alert("You can only insert numbers in your phone field");
                return false;
            } else if (phone == "") {
                alert("You cannot leave your phone field empty");
                return false;
            } else {
                if (!phone.startsWith("0")) {
                    alert("The phone you inserted seems wrong");
                    return false;
                }
            }
        }
        // Add current class to nav-link
        for (let elem of document.querySelectorAll(".nav-link")) {
            if (elem.textContent === "Customers") {
                elem.classList.add("current");
            }
        }
</script>
{% include 'footerView.twig' %}