{% include 'MainMenuView.twig' %}
    
    <main>
        <h1>Edit customer</h1>
        <form class="edit" method="POST" action="/u05-car-rental/customerEdited{{selectedCustomer.person_number}}" name="form" onsubmit="return validateForm();">
            <input type="text" name="personnumber" value="{{selectedCustomer.person_number}}" disabled><br>
            <input type="text" name="name" value="{{selectedCustomer.name}}"><br>
            <input type="text" name="address" value="{{selectedCustomer.adress}}"><br>
            <input type="text" name="postalcode" value="{{selectedCustomer.postal_code}}"><br>
            <input type="text" name="phone" value="{{selectedCustomer.phone}}"><br>
            <button type="submit" name="submit">Save changes</button>
        </form>
        <form class="edit" method="post" action="/u05-car-rental/customers">
            <button type="submit" name="submit">Discard changes</button>
        </form>
    </main>
      
<script> 
        function validateForm() {
            let name = document.forms["form"]["name"].value;
            if (name == "") {
                alert("You cannot leave your name field empty");
                return false;
            }
            let address = document.forms["form"]["address"].value;
            if (address == "") {
                alert("You cannot leave your address field empty");
                return false;
            }
            let postalcode = document.forms["form"]["postalcode"].value;
            if (postalcode == "") {
                alert("You cannot leave your postal code field empty");
                return false;
            }
            let phone = document.forms["form"]["phone"].value;
            if (isNaN(phone)) {
                alert("You can only insert numbers in your phone field");
                return false;
            } else if (phone == "") {
                alert("You cannot leave your phone field empty");
                return false;
            } else {
                if (!phone.startsWith("0")) {
                    alert("The phone you inserted seems wrong");
                    return false;
                }
            }
        }
</script>