{% include 'MainMenuView.twig' %}
    
    <main>
        <h1>History</h1>
        <p>
        <table>
        <table>
            <tr>
                <th>Register number</th>
                <th>Person number</th>
                <th>Check out time</th>
                <th>Check in time</th>
                <th>Days</th>
                <th>Cost</th>
            </tr>
          {% for item in historyArray %}
            <tr>
                <td>{{item.register_number}}</td>
                <td>{{item.person_number}}</td>
                <td>{{item.checked_out}}</td>
                <td>{{item.checked_in}}</td>
                <td>{{item.days}}</td>
                <td>{{item.cost}}</td>
            </tr>
          {% endfor %}
            <tr>
                <td colspan="6"><br></td>
            </tr>
            <tr>
                <th colspan="5">Total cost:</th>
                <td>{{totalCost}}</td>
            </tr>
        </table>
    </main>